body {
  background-color:#222831;
}

.main-title {
  text-align: center;
  font: large;
  color: #eeeeee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchBar {
  background-color: #393e46;
  color: #eeeeee;
  align-self: center;
}

.button {
  color: #393e46;
  background-color: #eeeeee;
  align-self: center;
  margin: 10px;
  border-style: inset;
  font-family: sans-serif;
}

.greenButton {
  color: #393e46;
  background-color: green;
  align-self: center;
  margin: 10px;
  border-style: inset;
  font-family: sans-serif;
}

.geryButton {
  color: #393e46;
  background-color: red;
  align-self: center;
  margin: 10px;
  border-style: inset;
  font-family: sans-serif;
}

.watchButton {
  color: #393e46;
  background-color: #eeeeee;
  float: right;
  margin: 10px;
  border-style: inset;
  font-family: sans-serif;
}

.addBar {
  background-color: #393e46;
  color: #eeeeee;
  align-self: center;
}
.movie {
  text-align: center;
  margin: 1em;
  padding: 1em;
  border: 2px;
  border-color: #00adb5;
  background-color: #393e46;
  color: #eeeeee;
  border-style: groove;
  font-family: sans-serif;
  width: 90%;
}




/*
HTML Link thing: <link rel="stylesheet" type="text/css" href="main.css">
*/